* {
	margin: 0;
	padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    font-size: 18px;
}

.container-content{
    margin: auto;
    width: 50%;
    height:90%;
}

.flex-movies-parent{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    width: 100%;
    /* background-color: gray; */
}

.flex-movies-parent #flex-movie-child{
    flex: 1;
    /* background-color: gray; */
    flex-grow: 1;
}

