* {
	margin: 0;
	padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    font-size: 18px;
}



.container-content{
    margin: auto;
    width: 50%;
    height:90%;
}

.flex-movies-parent{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    width: 100%;
    /* background-color: gray; */
}

.flex-movies-parent #flex-movie-child{
    flex: 1;
    /* background-color: gray; */
    flex-grow: 1;
}


.flex-container-parent{
    display: flex;
}

.flex-child{
    flex: 1;
}

hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}