<div id="dynamic_movies">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie , index in MOVIE_DATA.items() %}
        <div class="col">
            <div class="card">
                <img src="static/img/posters/{{index}}.jpg" class="card-img-top" alt="static/img/not_found.png"
                onerror=this.src="static/img/not_found.png"
                />
                <div class="card-body">
                    <h5 class="card-title">{{movie}}</h5>
                    <!-- <p class="card-text">Occaecat nisi eiusmod eiusmod dolore voluptate ea anim.</p> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>