{% extends "base.html" %}

{% block content %}
<div class="container-content">
    <!-- ---------------------------- Flash Message ---------------------------- -->
    {% if error == True %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" 
            style="margin-top: 10px;">
                <strong> {{error_msg}} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% else %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert"
            style="margin-top: 10px;">
                <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="reset-alert"></div>

    <!-- -------------------------------- FORM --------------------------------- -->
    <form class = "row mb-3" action="#" method="post" style="margin-top:20px;">
        <div class="col-sm-8"> 
        <label for="exampleInputEmail1" class="form-label">Movie Title</label>
        <input type="text" name="movie_input" class="form-control"/>
        <div id="movie-title-guide" class="form-text"> Input any movie you want to review !</div>
        </div>

        <div class="col-sm"> 
        <label for="exampleInputEmail1" class="form-label">Movie Rating</label>
        <select name="rating_input" class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <div id="movie-rate-guide" class="form-text"> Rate the movie from 1 - 5 </div>
        </div>

        <!-- ------------------------------- BUTTONS ------------------------------- -->
        <p></p>
        <p> <button type="submit" value="submit" class="btn btn-outline-primary" id="submit-btn">Submit Movie Review</button>
            
        <button class="btn btn-outline-dark" id="clear-butt">
            Clear Movie Review
        </button>
    </form>
    <!-- ------------------------- Recommended Movies -------------------------- -->
    <div class="flex-container-parent">
        <div class="flex-child">
            <h3> Recommended Movies: </h3>
        </div>
    
        <div class="flex-child" style="text-align: right">
            <button onclick="show_movies()" type="button" class="btn btn-outline-success" id="show-movies-btn">
                Show Recommendation
            </button>
        </div>
    </div>
    <hr class="style8">
    <div id="dynamic_movies">{{RECO_MOVIES}}</div>

    </div>


{% endblock %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}